<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
    <!--<link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" />
    <link rel="stylesheet/less" href="less/responsive.less" type="text/css" />
    <script src="js/less-1.2.1.min.js"></script>-->
    <style>
      .modal-body img { margin: 0 auto 9px; display: block; }
      .fileInput { visibility: hidden; width: 0; height: 0; }
    </style>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand">{{title}}</a>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <ul class="thumbnails">
          {{#filters}}
          <li>
            <form action="/upload" enctype="multipart/form-data" id="{{.}}form" method="post">
              <div id="{{.}}Modal" class="modal hide fade">
                <div class="modal-header">
                  <a class="close" data-dismiss="modal">&times;</a>
                  <h3>Upload</h3>
                </div>
                <div class="modal-body">
                  <img src="demo/{{.}}.png"/>
                  <div id="{{.}}msg"></div>
                  <input type="text" name="title" class="span12" placeholder="Description"/>
                  <input type="hidden" name="filter" value="{{.}}"/>
                  <input type="file" id="{{.}}fileInput" accept="image/*" class="fileInput" capture="camera" name="upload"/>
                  <button type="button" class="btn btn-large btn-primary" onclick="$('#{{.}}fileInput').click()">
                    <i class="icon-picture icon-white"></i> Select Photo
                  </button><br/><br/>
                  <div class="progress progress-danger progress-striped active">
                    <div class="bar" id= "{{.}}bar" style="width: 0%;"></div>
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="button" class="btn btn-primary" value="Upload" onclick="uploadForm('{{.}}')">
                  <a href="#" class="btn" data-dismiss="modal" onclick="updateBar('{{.}}', 0)">Close</a>
                </div>
              </div>
            </form>
            <a href="#{{.}}Modal" class="thumbnail" data-toggle="modal">
              <img src="demo/{{.}}.png"/>
            </a>
          </li>
          {{/filters}}
        </ul>
      </div>
    </div>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script>
      var getError = function (msg) {
        return '<div class="alert alert-error"><a class="close" data-dismiss="alert">×</a><h4 class="alert-heading">Error!</h4>' + msg + '</div>'
      };
      var updateBar = function (id, val) {
        var bar = $('#' + id + 'bar');
        bar.css('width', val + '%');
      };
      var uploadForm = function (id) {
        var form = $("#" + id + "form");
        var errorSpot = $("#" + id + "msg");
        var req = new XMLHttpRequest();
        var data = new FormData(document.getElementById(id + "form"));


        //Event handlers
        var updateProgress = function (e) {
          var percent = e.position * 100 / e.totalSize;
          updateBar(id, percent);
        };
        var transferComplete = function (e) {
          var result = JSON.parse(this.responseText);
          if (result.error) {
            errorSpot.html(getError('Uploading failed! ' + result.error));
          } else {
            var url = result.success;
            document.location.href = url;
          }
        };
        var transferFailed = function (e) {
          errorSpot.html(getError('Uploading failed!'));
        };
        var transferCancelled = function (e) {
          errorSpot.html(getError('Uploading cancelled!'));
        };

        req.upload.addEventListener("progress", updateProgress, false);
        req.upload.addEventListener("error", transferFailed, false);
        req.upload.addEventListener("abort", transferCancelled, false);
        req.addEventListener("load", transferComplete, false);

        req.open("POST", "/upload");
        req.send(data);
      };
    </script>
  </body>
</html>